<div class="section section--head">
  <div class="row row-heading">
    <h1><%= title %></h1>
  </div>
  <div class="row">
    <div class="gallery" itemscope itemtype="http://schema.org/ImageGallery">
      <% photos.forEach((photo, index) => { %>
        <a href="<%= photo.large.url %>"
          data-w="<%= photo.large.w %>"
          data-h="<%= photo.large.h %>"
          data-author="Nina"
          item-index="<%= index %>"
          class="gallery-item">
          <img src="<%= photo.small.url %>" alt="" />
        </a>
      <% }) %>
    </div>
  </div>
  <% include ./_pswp %>
</div>

<script>
  function initGallery(index) {
    var pswpElement = $('.pswp')[0];
    var galleryItems = $('.gallery-item');
    var items = $.map(galleryItems, function(item) {
      return {
        src: $(item).attr('href'),
        w: parseInt($(item).attr('data-w'), 10),
        h: parseInt($(item).attr('data-h'), 10)
      };
    });
    var options = {
        index: parseInt(index, 10)
    };
    var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
    gallery.init();
  }
  $(function() {
    $('.gallery-item').bind('click', function(e) {
      e.preventDefault();
      initGallery($(this).attr('item-index'));
    });
  });
</script>

<%- contentFor('head') %>
<title><%= title %></title>
